.popup{
    position: fixed;
    top:0;
    /*left:26.5%;*/
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0,0,0, .5);
    visibility: hidden; 
}  

.popup_isOpen {
    visibility: visible; 
}
