.popup__container_size_big{
    max-width: 75vw;
    max-height: 75vh;
    width: 75vw;
    height: 75vh;
    background: none;
    border-radius: 0px;
    margin:auto;
    margin-top: 90px;
    margin-bottom: auto;
}    

