.profile{
    max-width: 880px;
    margin: auto;
    margin-top: 40px;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
  }

@media screen and (max-width:914px){
  .profile{
    max-width: 600px;
  }  
}   

@media screen and (max-width:620px){
  .profile{
    max-width: 282px;
    margin-top: 42px;
    flex-direction: column;
    justify-content: center;
  }  
}  
