.photo-grid__heart {
    width: 22px;
    height: 19px;
    margin-right:15px;
    cursor: pointer;
    background: url(../../../images/__heart.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    border: none;
}

.photo-grid__heart:hover {
    opacity: .5;
    transition: ease-out .5s;
  } 

