.photo-grid__heart {
    max-width: 22px;
    max-height: 19px;
    margin-right:15px;
    cursor: pointer;
}

.photo-grid__heart:hover {
    opacity: .8;
    transition: ease-out 2s;
  } 

.photo-grid__heart_active{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}  