.popup__button{
    margin-top: 30px;
    background-color: #000000;
    cursor: pointer;
    height: 50px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    border-radius: 2px;
}

@media screen and (max-width:620px){
    .popup__button{
        margin-top: 44px;
        font-size: 14px;
        line-height: 17px;
    }  
} 

.popup__button:hover {
    opacity: .5;
    transition: ease-out .5s;
  } 