.profile__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 336px;
  color: #FFFFFF;
  margin: 0;
  margin-top: 16px;
  padding:0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width:620px){
  .profile__subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }  
} 