.photo-grid__photo{
    max-width: 282px;
    height: 282px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: center no-repeat;
    cursor: pointer;
}

@media screen and (max-width:914px){
    .photo-grid__photo{
        max-width: 180px;
        max-height: 200px;
    }  
} 

@media screen and (max-width:620px){
    .photo-grid__photo{
        max-width:282px;
        max-height: 282px;
    }  
} 

