.form__button_size_big{
    font-size: 0.8em;
    width: 150px;
    height: 50px;
    margin: auto;
    margin-top: 35px;
    margin-right: 0;
    font-size: 35px;
}    

@media screen and (max-width:620px){
    .form__button_size_big {
      width: 282px;
      margin:auto;
      margin-top: 36px;
    }  
  } 

  .form__button_size_big:hover {
    opacity: .8;
    transition: ease-out 2s;
  } 
  