.form__button_size_small{
    font-size: 0.8em;
    width: 24px;
    height: 24px;
    margin-top:15px;
    margin-left: 18px;
    align-self: baseline;
}    

@media screen and (max-width:620px){
    .form__button_size_small{
      margin-top:8px;
      width: 18px;
      height: 18px;
      margin-left: 10px;
    }  
  } 

  .form__button_size_small:hover {
    opacity: .8;
    transition: ease-out 2s;
  } 