.photo-grid__rectangle{
    max-width: 282px;
    background-color: #FFFFFF;
    max-height: 79px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
